.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.editor {
  display: grid;
  position: relative;
  grid-template-columns: repeat(8, minmax(4ch, auto));
  align-self: center;
  width: 100%;
  font-size: 0.75em;
  text-align: center;
}

.input {
  position: absolute;
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  top: 0;
  bottom: 0;
}

.icon {
  display: inline-block;
  margin-right: 1ch;
  width: 1em;
  height: 1em;
}

@media (min-width: 768px) {
  .editor {
    grid-template-columns: repeat(16, 4ch);
    width: auto;
  }
}
