.dropzone {
  transition: border-color var(--transition-duration) ease-out;
  display: grid;
  place-content: center;
  border-radius: var(--border-radius);
  border: 0.5rem dashed hsl(var(--color-bg-offset), 0.25);
  margin: 0 1rem;
  min-width: 0;
  height: 480px;
}

.dropzone:hover {
  cursor: pointer;
}

.active {
  border-color: hsl(var(--color-bg-offset));
}

.error {
  border-color: hsl(var(--color-error));
  color: hsl(var(--color-error));
}

.input {
  display: none;
}

@media (min-width: 768px) {
  .dropzone {
    margin: 0 auto;
    width: 100%;
    max-width: 640px;
    max-height: 100%;
  }
}
