.header {
  --border-width: 2px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 0.5rem;
  min-width: 0;
}

.icon {
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  border-radius: 10px;
  padding: 4px;
  margin-right: 0.25rem;
  color: hsl(var(--color-bg));
  background-color: hsl(var(--color-error));
  stroke: currentColor;
  stroke-width: 8px;
}

.header > * {
  flex: 1 0 auto;
  margin: 0;
}

.header > :not(:first-child) {
  display: block;
  color: hsl(var(--color-bg-offset));
  text-decoration: none;
  font-weight: bold;
}

.separator {
  text-align: right;
}

.separator.separator,
.name {
  display: none;
}

.downloadlink {
  flex: 0;
  transition: var(--noop, background-color) 300ms ease-in,
    var(--noop, color) 300ms ease-in;
  border: var(--border-width) solid hsl(var(--color-bg-offset), 0.5);
  border-radius: 4px;
  padding: 1ch;
  min-height: 44px;
  min-width: 44px;
  text-align: center;
}

.downloadlink:hover,
.downloadlink:focus {
  background-color: hsl(var(--color-bg-offset));
  color: hsl(var(--color-bg));
  outline: none;
}

.downloadicon {
  display: inline-block;
  background-color: hsl(var(--color-bg));
  width: 1.25em;
  height: 1.25em;
  color: inherit;
  background-color: transparent;
}

@media (min-width: 768px) {
  .header {
    justify-content: center;
    flex-wrap: nowrap;
    margin: 1rem;
  }

  .icon {
    margin-right: 0.75rem;
    height: 1.25em;
    width: 1.25em;
  }

  .header > * {
    flex: unset;
  }

  .header > :not(:first-child) {
    margin-left: 1rem;
  }

  .separator.separator,
  .name {
    display: inline;
  }

  .downloadlink {
    flex: 0 1 auto;
    border-style: dashed;
    padding: 1ch 2ch;
    height: auto;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .downloadicon {
    margin-right: 1ch;
    width: 1em;
    height: 1em;
  }
}
