@import 'styles/themes.css';
@import 'styles/typography.css';

@import 'sanitize';

@media (prefers-reduced-motion) {
  :root {
    --noop: none;
  }
}

body {
  margin: 0;
  background-color: hsl(var(--color-bg));
  color: hsl(var(--color-text));
  font-family: var(--font-monospace);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  box-sizing: border-box;
}
